*,
*::after,
*::before {
  box-sizing: border-box;
}
/*este nos sirve para que la medida que asignamos a los objetos se reacoplen y no consuman de más y se deformen*/
body {
  height: 100vh;
  background-color: #000;
  background-image: url("https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: left;
} /*en body aplicamos directamente el fondo */
.gridBio {
  width: 0 auto;
  margin: 0 auto;
  display: grid;
  grid-template:
    "header header header "
    "  inicioFoto1 "
    "contenidoB   "
    "contenidoB2";
  /*definimos plantilla*/
  grid-template-columns: 2fr 8fr 1fr;
  grid-template-rows: 2fr 8fr 1fr;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover {
  color: orange;
}

header {
  /*background-color: darkseagreen;*/
  /* background-color: rgb(199, 223, 210);*/
  grid-area: header;
  background: rgb(146, 203, 121);
  background: linear-gradient(
    80deg,
    rgba(146, 203, 121, 1) 0%,
    rgba(208, 253, 215, 1) 44%,
    rgba(216, 240, 202, 1) 92%
  );
  width: 100%;
  position: fixed;
  padding: 0 0.8rem;
  z-index: 1;
  border-bottom: 2px solid;
  font-family: Arial;
  font-size: 20px;
}
.navbar {
  width: 100%;
  height: 68px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo {
  position: left;
  padding-left: 0 auto;
  width: 65px;
  height: 65px;
  background-image: url("/images/logo hq.png");
  background-size: 65px;
  background-position: center;
}

.navbar .links {
  display: flex;
  gap: 2rem; /*gap ayuda a dar espacio parejo*/
}

.navbar .links:hover {
  scale: 1.02;
}

.navbar .toggle_btn {
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  display: block;
}

/*********este apartado es para crear el menu desplegable**********/
.dropdown_menu {
  margin-top: 15px;
  display: none;
  position: absolute;
  height: 0;
  right: 2rem;
  top: 60px;
  width: 150px;
  background: rgba(7, 128, 98, 0.184);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2 cubic-bezier(0.175, 0.885, 0.32, 1.275);/*pequeño efecto para desplegar*/
}

.dropdown_menu li {
  padding: 0.58rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown_menu.open {
  height: 200px;
}

/*****************/
/*responsive*/
/*media es una regla de bloque*/
@media (max-width: 991px) {
  .navbar .links {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media (min-width: 992px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
  .navbar .toggle_btn {
    display: none;
  }

  .dropdown_menu {
    display: none;
  }
}

/*********************/
.inicioFoto1 {
  grid-area: inicioFoto1;
  height: 50vh;
  width: 200px;
  position: relative;
  left: 90px;
  top: 100px;
  background-image: url("/images/fotoHQ.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 50px;
  box-shadow: 0 0 90px rgba(146, 203, 121, 1);
}
.contenidoB {
  grid-area: contenidoB;

  position: relative;
}

.introB {
  width: 910px;
  padding: 1rem;
  margin: 500px 0 100px -225px;
  position: relative;
  text-align: justify;
  color: rgb(201, 247, 93);
  backdrop-filter: brightness(40%);
  padding: 1rem;
  border-radius: 50px;
  text-justify: center;
  text-align: center;
  font-family: Arial;
  font-size: 1rem;
  word-wrap: wrap;
}
.introBotro {
  width: 910px;
  padding: 1rem;
  margin: 90px 0 100px -225px;
  position: relative;
  text-align: justify;
  color: rgb(201, 247, 93);
  backdrop-filter: brightness(40%);
  padding: 1rem;
  border-radius: 50px;
  text-justify: center;
  text-align: center;
  font-family: Arial;
  font-size: 1rem;
  word-wrap: wrap;
}
#ref7 {
  margin-bottom: 100px;
  margin-left: -80px;
}

.contenidoB2 {
  position: relative;
  left: -225px;
  width: 900px;
  overflow: hidden;
}
.slider-box {
  width: 400px;
  height: auto;
  margin: 50px auto 0;
  position: block;
}

.slider-box ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 12s infinite alternate ease-in-out;
  overflow: hidden;
}

.slider-box li {
  width: 40%;
  list-style: none;
  position: relative;
}
.slider-box img {
  width: 100%;
  height: 90%;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
